body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1338px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:738px;
}
#u4438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:1129px;
  height:738px;
  display:flex;
}
#u4438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:366px;
}
#u4439 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:428px;
  width:441px;
  height:356px;
  display:flex;
}
#u4439 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u4440 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:16px;
  width:44px;
  height:15px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u4440 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:46px;
}
#u4441 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:0px;
  width:69px;
  height:46px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:557px;
}
#u4442 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:99px;
  width:325px;
  height:557px;
  display:flex;
}
#u4442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u4443 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:54px;
  width:291px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u4443 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(193, 55, 74, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4444 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:157px;
  width:80px;
  height:46px;
  display:flex;
}
#u4444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(193, 55, 74, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4445 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:344px;
  width:59px;
  height:34px;
  display:flex;
}
#u4445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4446 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:180px;
  width:0px;
  height:0px;
}
#u4446_seg0 {
  border-width:0px;
  position:absolute;
  left:-200px;
  top:-6px;
  width:200px;
  height:12px;
}
#u4446_seg1 {
  border-width:0px;
  position:absolute;
  left:-200px;
  top:-6px;
  width:12px;
  height:193px;
}
#u4446_seg2 {
  border-width:0px;
  position:absolute;
  left:-388px;
  top:175px;
  width:200px;
  height:12px;
}
#u4446_text {
  border-width:0px;
  position:absolute;
  left:-244px;
  top:82px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u4447 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:236px;
  width:20px;
  height:17px;
  display:flex;
}
#u4447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(250, 187, 61, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4448 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:205px;
  width:227px;
  height:114px;
  display:flex;
}
#u4448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(250, 187, 61, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4449 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:247px;
  width:59px;
  height:72px;
  display:flex;
}
#u4449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#7F7F7F;
}
#u4450 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:682px;
  width:1px;
  height:22px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#7F7F7F;
}
#u4450 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4451 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:246px;
  width:0px;
  height:0px;
}
#u4451_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-22px;
  width:12px;
  height:22px;
}
#u4451_seg1 {
  border-width:0px;
  position:absolute;
  left:-287px;
  top:-22px;
  width:293px;
  height:12px;
}
#u4451_seg2 {
  border-width:0px;
  position:absolute;
  left:-287px;
  top:-22px;
  width:12px;
  height:23px;
}
#u4451_text {
  border-width:0px;
  position:absolute;
  left:-191px;
  top:-24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u4452 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:352px;
  width:23px;
  height:18px;
  display:flex;
}
#u4452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
