body {
  margin:0px;
  background-color:rgba(74, 189, 172, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1177px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1148px;
  height:495px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lora Bold', 'Lora', sans-serif;
  font-style:normal;
  color:rgba(247, 183, 51, 0.996078431372549);
}
#u0 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:58px;
  width:1148px;
  height:495px;
  display:flex;
  font-family:'Lora Bold', 'Lora', sans-serif;
  font-style:normal;
  color:rgba(247, 183, 51, 0.996078431372549);
}
#u0 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
